html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
}

body::before,
body::after {
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

html input,
html textarea {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/*----------  FONT AVINER  ----------*/

@font-face {
  font-family: "avenir-next-bold";
  src: url('../assets/fonts/avenir/avenir-next-bold.eot');
  src: url('../assets/fonts/avenir/avenir-next-bold.eot?#iefix') format('eot'),
    url('../assets/fonts/avenir/avenir-next-bold.woff2') format('woff2'),
    url('../assets/fonts/avenir/avenir-next-bold.woff') format('woff'),
    url('../assets/fonts/avenir/avenir-next-bold.ttf') format('truetype'),
    url('../assets/fonts/avenir/avenir-next-bold.svg#avenir-next-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenir-next-demi-bold";
  src: url('../assets/fonts/avenir/avenir-next-demi-bold.eot');
  src: url('../assets/fonts/avenir/avenir-next-demi-bold.eot?#iefix') format('eot'),
    url('../assets/fonts/avenir/avenir-next-demi-bold.woff2') format('woff2'),
    url('../assets/fonts/avenir/avenir-next-demi-bold.woff') format('woff'),
    url('../assets/fonts/avenir/avenir-next-demi-bold.ttf') format('truetype'),
    url('../assets/fonts/avenir/avenir-next-demi-bold.svg#avenir-next-demi-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenir-next-medium";
  src: url('../assets/fonts/avenir/avenir-next-medium.eot');
  src: url('../assets/fonts/avenir/avenir-next-medium.eot?#iefix') format('eot'),
    url('../assets/fonts/avenir/avenir-next-medium.woff2') format('woff2'),
    url('../assets/fonts/avenir/avenir-next-medium.woff') format('woff'),
    url('../assets/fonts/avenir/avenir-next-medium.ttf') format('truetype'),
    url('../assets/fonts/avenir/avenir-next-medium.svg#avenir-next-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenir-next-regular";
  src: url('../assets/fonts/avenir/avenir-next-regular.eot');
  src: url('../assets/fonts/avenir/avenir-next-regular.eot?#iefix') format('eot'),
    url('../assets/fonts/avenir/avenir-next-regular.woff2') format('woff2'),
    url('../assets/fonts/avenir/avenir-next-regular.woff') format('woff'),
    url('../assets/fonts/avenir/avenir-next-regular.ttf') format('truetype'),
    url('../assets/fonts/avenir/avenir-next-regular.svg#avenir-next-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenir-next-light";
  src: url('../assets/fonts/avenir/avenir-next-light.eot');
  src: url('../assets/fonts/avenir/avenir-next-light.eot?#iefix') format('eot'),
    url('../assets/fonts/avenir/avenir-next-light.woff2') format('woff2'),
    url('../assets/fonts/avenir/avenir-next-light.woff') format('woff'),
    url('../assets/fonts/avenir/avenir-next-light.ttf') format('truetype'),
    url('../assets/fonts/avenir/avenir-next-light.svg#avenir-next-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*----------  LIXICON  ----------*/

@font-face {
  font-family: "lixicon";
  src: url('../assets/fonts/lixicon/lixicon.eot');
  src: url('../assets/fonts/lixicon/lixicon.eot?#iefix') format('eot'),
    url('../assets/fonts/lixicon/lixicon.woff2') format('woff2'),
    url('../assets/fonts/lixicon/lixicon.woff') format('woff'),
    url('../assets/fonts/lixicon/lixicon.ttf') format('truetype'),
    url('../assets/fonts/lixicon/lixicon.svg#lixicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.lx:before {
  display: inline-block;
  font-family: "lixicon";
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

.lx-01-logo::before { content: "\EA01" }
.lx-02-logo-line::before { content: "\EA02" }
.lx-03-shopping-cart::before { content: "\EA03" }
.lx-04-search::before { content: "\EA04" }
.lx-05-user::before { content: "\EA05" }
.lx-06-dollar::before { content: "\EA06" }
.lx-07-connect::before { content: "\EA07" }
.lx-08-down::before { content: "\EA08" }
.lx-09-up::before { content: "\EA09" }
.lx-10-right::before { content: "\EA0A" }
.lx-11-left::before { content: "\EA0B" }
.lx-12-angle-down::before { content: "\EA0C" }
.lx-13-angle-up::before { content: "\EA0D" }
.lx-14-angle-right::before { content: "\EA0E" }
.lx-15-angle-left::before { content: "\EA0F" }
.lx-16-menu::before { content: "\EA10" }
.lx-17-shopping-bag::before { content: "\EA11" }
.lx-18-heart::before { content: "\EA12" }
.lx-19-play-video::before { content: "\EA13" }
.lx-20-facebook::before { content: "\EA14" }
.lx-21-instagram::before { content: "\EA15" }
.lx-22-youtube::before { content: "\EA16" }
.lx-23-pinterest::before { content: "\EA17" }
.lx-24-reload::before { content: "\EA18" }
.lx-25-home::before { content: "\EA19" }
.lx-26-box::before { content: "\EA1A" }
.lx-27-special::before { content: "\EA1B" }
.lx-28-tag::before { content: "\EA1C" }
.lx-29-plus::before { content: "\EA1D" }
.lx-30-minus::before { content: "\EA1E" }
.lx-31-close::before { content: "\EA1F" }
.lx-32-clock::before { content: "\EA20" }
.lx-33-arrow-up::before { content: "\EA21" }
.lx-34-arrow-down::before { content: "\EA22" }
.lx-35-category::before { content: "\EA23" }
.lx-36-filter::before { content: "\EA24" }
.lx-37-start::before { content: "\EA25" }
.lx-38-start-line::before { content: "\EA26" }
.lx-39-start-half::before { content: "\EA27" }
.lx-40-delivery::before { content: "\EA28" }
.lx-41-shopping-cart::before { content: "\EA29" }
.lx-42-heart-line::before { content: "\EA2A" }
.lx-43-info::before { content: "\EA2B" }
.lx-44-tags::before { content: "\EA2C" }
.lx-45-comments::before { content: "\EA2D" }
.lx-46-angle-double-down::before { content: "\EA2E" }
.lx-47-angle-double-up::before { content: "\EA2F" }
.lx-48-angle-double-right::before { content: "\EA30" }
.lx-49-angle-double-left::before { content: "\EA31" }
.lx-50-comment::before { content: "\EA32" }
.lx-51-reply::before { content: "\EA33" }
.lx-52-calendar::before { content: "\EA34" }
.lx-53-check::before { content: "\EA35" }
